.sign_contents
  %h2 プロフィール編集
  -# Edit #{resource_name.to_s.humanize}
  %hr

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      .field__left
        = f.label "メールアドレス"
      .field__right
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "field__entry-form"

    -# prof_imageを編集するためのfieldを手動で追加 
    .field
      .field__left
        = f.label "プロフィールコメント"
      .field__right
        = f.text_area :text, autofocus: true
    -# ここまで

    -# prof_imageを編集するためのfieldを手動で追加 
    .field
      .field__left
        = f.label "プロフィール画像"
      .field__right
        = f.file_field :prof_image, autofocus: true
    -# ここまで

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        パスワード for: #{resource.unconfirmed_email}
    .field
      .field__left
        = f.label "新規パスワード",class: "field__com"
      .field__right
        = f.password_field :password, autocomplete: "new-password"
        - if @minimum_password_length
          %br/
          .field__right__under-text
            = @minimum_password_length
            文字以上入力してください。（半角英数字）
    .field
      .field__left
        = f.label "パスワード再入力"
        %br/
      .field__right
        = f.password_field :password_confirmation, autocomplete: "new-password"

    .field
      .field__left
        = f.label "現在のパスワード"
        .field__left__under-text
          パスワード再設定の場合、
          %br
          現在のパスワードを入力する必要があります。
      .field__right
        = f.password_field :current_password, autocomplete: "current-password"
    %hr
      .sign_contents__under
        = f.submit "更新",class: "sign_contents__under--singin-btn"
        .sign_contents__under__other
          = render "devise/shared/links"

= link_to "← 戻る", root_path, class: "follow-msgs-content__back-btn"