.sign_contents
  %h2 Log in
  %hr
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      .field__left
        .field-label
          = f.label :email
      .field__right
        .field-input
          = f.email_field :email, autofocus: true
    .field
      .field__left
        .field-label
          = f.label :password
          %i (英数字8文字以上)
      .field__right
        .field-input
          = f.password_field :password, autocomplete: "off"
    .actions
      = f.submit "Log in", class: 'btn'
  = render "devise/shared/links"