.sign_contents
  %h2 ログイン
  %hr

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .sign_contents__form
      .sign_contents__form__upper
        = f.label "メールアドレス",class: "sign_contents__form__upper__name"
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "exsample@show-off.jp", class: "sign_contents__form__under"

    .sign_contents__form
      .sign_contents__form__upper
        = f.label "パスワード",class: "sign_contents__form__upper__name"
        - if @minimum_password_length
          %em
            = @minimum_password_length
            文字以上入力してください。（半角英数字）
      = f.password_field :password, autocomplete: "new-password", placeholder: "半角英数字6文字以上", class: "sign_contents__form__under"
    .sign_contents__btnArea
      = f.submit "ログインする", id: "activeBtn"