.post_content
  - posts.each do |post|
    = link_to post_path(post.id), class: "post_content__content" do
      .post_content__user
        .post_content__user__icon
          = image_tag post.user.prof_image, height: "28px", width: "28px" ,alt: "Img"
        .post_content__user__name
          = post.user.name
      .post_content__content__img-area
        = image_tag post.image ,alt: "ほげ"
      .post_content__content__text-area
        = simple_format( post.comment, {})
  = render 'layouts/post-btn'
