.post_create_content
  .post_create_content__title
    %h2 機材の投稿
    %hr

    -# = form_for(@post_form, url: {controller: 'posts',action: 'create'}) do |f|
    -# post_formを使わずに投稿できるようにリファクタ
    = form_for(@post, url: {controller: 'posts',action: 'create'}) do |f|
      .post_create_content__form
        .post_create_content__form__upper
          = f.label "コメント・自慢ポイント",class: "post_create_content__form__upper__name"
          .post_create_content__form__upper--icon
            #optional 任意
        = f.text_area :comment,placeholder: "熱い想いを語ろう！", class: "post_create_content__form__underTextArea"

      .post_create_content__form
        .post_create_content__form__upper
          = f.label "機材画像",class: "post_create_content__form__upper__name"
          .post_create_content__form__upper--icon
            #requier 必須
      .post_create_content__form__underImgForm--view
        = image_tag "", id: "uploadImg"
      .post_create_content__form__underImgForm
        = f.file_field :image, id: "myfile", class:"post_create_content__form__underImgForm--uploadBtn"

      %span.between-detail-margin

      #selectCategory.post_create_content__form
        .post_create_content__form__upper{data: {category_id: "a"}}
          = f.label "カテゴリー", clas: "post_create_content__form__upper__name"
          .post_create_content__form__upper--icon
            #optional 任意
        = f.collection_select :category_id, @parent_category_array, :id, :name,{}, {class: "post_create_content__form__selecter", id: "parentSelecter"}

      %span.between-detail-margin
      %h2 機材詳細
      %hr

      = f.fields_for :gears do |i|
        #equipDetailListArea
          .equipForm{data: {equipment: "#{i.index}"}}
            .post_create_content__form
              .post_create_content__form__upper
                = i.label "機材名",class: "post_create_content__form__upper__name"
                .post_create_content__form__upper--icon
                  #optional 任意
              = i.text_field :equipment,placeholder: "品番、メーカーなど",class: "post_create_content__form__under"

            .post_create_content__form
              .post_create_content__form__upper{data: {equ_comment: "#{i.index}"}}
                = i.label "機材詳細",class: "post_create_content__form__upper__name--sub"
                .post_create_content__form__upper--icon
                  #optional 任意
              = i.text_field :equ_comment,placeholder: "機材についての詳細", class: "post_create_content__form__under"

        .post_create_content__optionForm
          .post_create_content__optionForm__info
            詳細項目の追加/削除
          .post_create_content__optionForm--add
            #addEquipDetail.optionIcon
              =icon('far','plus-square')
          .post_create_content__optionForm--remove
            #removeEquipDetail.optionIcon
              =icon('far','minus-square')

      = f.hidden_field :user_id, value: current_user.id

      .post_create_content__btnArea
        = f.submit "show off!", id: "activeBtn"
