.post_show_contents
  =link_to user_path(@post.user.id) do
    .post_show_contents__header
      = image_tag @post.user.prof_image, class:"post_show_contents__header--img"
      .post_show_contents__header--name
        = @post.user.name
  %hr
  .post_show_contents__body
    .post_show_contents__body--img
      = image_tag @post.image
    .post_show_contents__body__content
      %p.post_show_contents__body__content__comment--title
        コメント
      .post_show_contents__body__content__comment--detail
        = simple_format(@post.comment, {})
  .post_show_contents__under
    %p.post_show_contents__under__equ-title
      機材詳細
    
    -if @post.gears.empty?
      .post_show_contents__under__no-equ-list
        機材詳細の登録はありません
    -else
      - @post.gears.each do |gear|
        %p.post_show_contents__under__equ-list--name
          = gear.equipment
        %p.post_show_contents__under__equ-list--detail
          = gear.equ_comment
.post_show_comments
  %hr
  %h3 - Comments - 
  .post_show_comments__area
    - @comments.each do |comment|
      .post_show_comments__area__list
        %p.post_show_comments__area__list--name
          = link_to "#{comment.user.name}", user_path(comment.user.id)
        %p.post_show_comments__area__list--comment
          = "：#{comment.text}"

.post_show__post-comment
  .post_show__post-comment__area
    - if current_user
      = form_for([@post,@comment],id: "new_comment" ) do |f|
        = f.text_area :text,placeholder: "コメント入力", class: "msg-send-area"
        = f.submit "コメントする", class: "msg-send-button"
    - else
      %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

= link_to "← 戻る", root_path, class: "follow-msgs-content__back-btn"
