!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShowOff
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__content
        = link_to root_path, id:'title' do
          SHOW OFF
        .header__content__user
          -if user_signed_in?
            = link_to user_path(current_user) do
              .header__content__user__img
                = image_tag current_user.prof_image ,width: "34px",height: "34px", alt: "ほげ"
                %p.header__content__user__img__name
                  = current_user.name
          -else
            %p.header__content__user--unlogin
              = link_to user_session_path do
                ログイン
    .contents
      = yield
    .post-btn
      = link_to new_post_path do
        = icon('far', 'image')
    .footer
      %p.footer__text
        (c) 2020 Show off
