!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShowOff
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__content
        = link_to "SHOW OFF" , '#'
        .header__content__user
          -if user_signed_in?
            = link_to '#' do
              .header__content__user__img
                = image_tag "solovair.jpeg",width: "34px",height: "34px", alt: "ほげ"
                %p.header__content__user__img__name
                  = current_user.name
          -else
            = link_to '#' do
              .header__content__user__img
                = image_tag "solovair.jpeg",width: "34px",height: "34px", alt: "ほげ"
                %p.header__content__user__img__name
                  = link_to new_user_session_path do
                    ログイン
    .contents
      = yield
    .post-btn
      = link_to '#' do
        SHOW
        %br OFF!
    .footer
      %p.footer__text
        (c) 2020 Show off
