!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShowOff
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .drawer.drawer--left
        = render 'layouts/header'
      .header__title
        %p.header__content#title SHOW OFF
  .contents
    = render 'layouts/notifications'
    = yield
  -if user_signed_in?
    .post-btn
      = link_to new_post_path do
        = icon('far', 'image')
  .footer
    %p.footer__text
      (c) 2020 Show off
